*{
  box-sizing: border-box;
}

html{
  font-size:62.5%
}


.navigation{
  background-color: #C41E3A ;
  display:flex;
  flex-wrap:wrap;
  margin-bottom:20px;
}

.navlink{
  color: #fff;
  font-size:2rem;
  position:relative;
}

.navlink::after{
  content:'';
  width :0;
  background-color: royalblue;
  height: 3px;
  bottom: 0;
  left: 1px;
  position: absolute;
  transition: 0.3s;
}

.navlink:hover{
  color: #fff5ee;
  cursor: pointer;
}

.navlink:hover::after{
  width: 100%;
}


.brand{
  height: 60px;
  width : 60px;
}
